<h1>Listing acceptances</h1>

<table>
  <tr>
    <th>Amount</th>
    <th>Note</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @acceptances.each do |acceptance| %>
  <tr>
    <td><%= acceptance.amount %></td>
    <td><%= acceptance.note %></td>
    <td><%= link_to 'Show', acceptance %></td>
    <td><%= link_to 'Edit', edit_acceptance_path(acceptance) %></td>
    <td><%= link_to 'Destroy', acceptance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Acceptance', new_acceptance_path %>
