<p id="notice"><%= notice %></p>

<p>
  <b>Amount:</b>
  <%= @acceptance.amount %>
</p>

<p>
  <b>Note:</b>
  <%= @acceptance.note %>
</p>


<%= link_to 'Edit', edit_acceptance_path(@acceptance) %> |
<%= link_to 'Back', acceptances_path %>
