<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @person.name %>
</p>

<p>
  <b>Username:</b>
  <%= @person.username %>
</p>

<p>
  <b>Password:</b>
  <%= @person.password %>
</p>

<p>
  <b>Account number:</b>
  <%= @person.account_number %>
</p>

<p>
  <b>Sort code:</b>
  <%= @person.sort_code %>
</p>


<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
