<h1>Listing purchases</h1>

<table>
  <tr>
    <th>Name</th>
    <th>By</th>
    <th>Amount</th>
    <th>Description</th>
    <th>Accepted by me</th>
    <th>Accepted total</th>
    <th>Done</th>
    <th></th>
  </tr>

<% @purchases.each do |purchase| %>
  <tr>
    <td><%= purchase.name %></td>
    <td><%= purchase.person.name %></td>
    <td><%= purchase.amount %></td>
    <td><%= purchase.description %></td>
    <td><%= purchase.accepted_by_me(current_person) %></td>
    <td><%= purchase.accepted_total %></td>
    <td><%= check_box_tag("check#{purchase.id}", "1", purchase.accepted_total == purchase.amount, :disabled=>true) %></td>
    <td><%= link_to 'Show', purchase %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Purchase', new_purchase_path %>
