<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @purchase.name %>
</p>

<p>
  <b>By:</b>
  <%= @purchase.person.name %>
</p>

<p>
  <b>Amount:</b>
  <%= @purchase.amount %>
</p>

<p>
  <b>Description:</b>
  <%= @purchase.description %>
</p>

<% if @purchase.person == @current_person then %>
<%= link_to 'Edit', edit_purchase_path(@purchase) %> |
<% end %>

<%= link_to 'Back', purchases_path %>
