<p><h1>eMonies</h1></p>
<p><h2>Hi <%= current_person.name  %></h2></p>

<p>
  <h3>Status</h3>
  <ul>
    <li><%= link_to "There are N purchases needing acceptances from you", :purchases %></li>
  </ul>
</p>

<p>
  <h3>Actions</h3>
  <ul>
    <li><%= link_to "Record a purchase", :new_purchase %></li>
    <li><%= link_to "View all purchases", :purchases %></li>
    <li><%= link_to "View all people", :people %></li>
  </ul>
</p>
