<!DOCTYPE html>
<html>
<head>
  <title>EMonies</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% unless current_person.nil? then %>
<nav class="mainnav">
  <ul>
    <li><%= link_to "Record a purchase", :new_purchase %></li>
    <li><%= link_to "View all purchases", :purchases %></li>
    <li><%= link_to "View all people", :people %></li>
    <li><%= link_to "View summary between people", :summary %></li>
    <li><%= link_to "Change bank details", edit_person_path(current_person) %></li>
    <li><%= link_to "Change password", edit_person_registration_path %></li>
    <li><%= link_to "Logout", destroy_person_session_path, :method=>:delete %></li>
  </ul>
</nav>
<% end %>

<%= yield %>

</body>
</html>
